@import 'tailwindcss';

:root {
  --background: #20293a;
  --foreground: #171717;
  --text: #cdd5e0;
  --secoundary: #111729;
  --card: #1d1b48;
  --text-secondary: #97a3b6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secoundary: var(--secoundary);
  --color-card: var(--card);
  --color-text: var(--text);
  --color-text-secondary: var(--text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.card-gradient {
  background: linear-gradient(95deg, #111729 3%, #1d1b48 99.61%);
}
